header{
    background-color: #ffffff;
}


.index-body{
    background: linear-gradient(45deg, #B91C25, #E285BF, #E9E2CF, #77AFA9);
    background-size: 400% 400%;
    animation: gradient 12s ease-in infinite;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

main{
    background-color: #ffffff;
}

footer{
    background-color: #000000;
}