.nav-categories:hover{
    background-color: #000000;
    color: white;
    transition: 0.2s;
}

nav{
    border-bottom: solid 2px #dedede;;
}

aside{
    background-color: #eeeeee;
}

article:hover{
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.4s;
}

article{
    transition: 0.3s;
}