h1, h2, h3, h4, .add-btn, input, label, .social-media{
    font-family: "Bebas Neue", sans-serif;
}

.nav-categories, .nav-butons{
    font-family: "Bebas Neue", sans-serif;
    font-size: 27px;
    text-decoration: none;
    color: #000000;
}

.product-price{
    color: #5b5b5b;
}

label, input{
    font-size: 20px;
}

.social-media{
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
}

.watermark{
    font-size: 15px;
    color: #ffffff;
}